.main{
    display: flex;
    box-sizing: border-box;
   
    
}
.mask{
    background: black;
    width:  450px;
    height:  799px;
    position: absolute;
    flex-shrink: 0px;

   }

.rectangle1{
   /* box-sizing: border-box; */
   width: 540px;
   height: 800px;
   position: absolute;
   flex-shrink: 0px;
   margin-left: 450px;
   margin-right: 285px;

}
.t1{
   color: #D9D9D9;
   font-feature-settings: 'clig' off, 'liga' off;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   font-family: Big Shoulders Display;
   font-size: 70px;
   font-style: normal;
   font-weight: 900;
   line-height: 88px; /* 91.667% */
   text-transform: uppercase;
   position: absolute;
   width: 514px;
   margin-left: 148px;
   margin-right: px;
   margin-top: 189px;

    }

.t2{
   color: var(--Dark-Grey, #444);
   font-feature-settings: 'clig' off, 'liga' off;
   text-align: left;
   font-family: 'Outfit';
   position: absolute;
   font-style: normal;
   font-weight: 300;
   line-height: 32px; /* 145.455% */
   width: 350px;
   font-size: 22px;
   margin-top: 190px;
   margin-left: 925px;
   margin-right: 164px;
   width: 350px;
}
.group-3{
   position: absolute;
   inset: 0;
   }
.group-2 {
   width: 204px;
   height: 72px;
   position: absolute;
   left: 925px;
   top: 414px;
   overflow: hidden;
   }
.rectangle2 {
   background: var(--almost-black, #151515);
   width: 204px;
   height: 72px;
   position: absolute;
   flex-shrink: 0;
   }
.our-location {
    color: var(--white, #ffffff);
    text-align: left;
    font-family: 'Big Shoulders Display';
    position: absolute;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 3.636px;
    margin-top: 24px;
    /* margin-left: 20px; */
    
    }
.group {
    position: absolute;
    left: 1129px;
    top: 414px;
    overflow: visible;
    }
.group-6 {
    position: absolute;
   inset: 0;
   }
      
.group-4 {
   width: 350px;
   height: 280px;
   position: absolute;
   left: 165px;
   top: 1040px;
   overflow: hidden;
   }
      
.t3 {
   color: var(--Almost-Black, #151515);
   font-feature-settings: 'clig' off, 'liga' off;
   /* Heading (M) */
   font-family: Big Shoulders Display;
   font-size: 60px;
   font-style: normal;
   font-weight: 900;
   line-height: 60px; /* 100% */
   text-transform: uppercase;
   width: 350px;
   }
      
.wander-through-our-d {
   color: var(--Dark-Grey, #444);
   font-feature-settings: 'clig' off, 'liga' off;

   /* Body (M) */
   font-family: Outfit;
   font-size: 22px;
   font-style: normal;
   font-weight: 300;
   line-height: 32px; /* 145.455% */
   width: 350px;
   }
      
.rectangle {
   width: 635px;
   height: 400px;
   position: absolute;
   left: 640px;
   top: 980px;
   }
      
.rectangle-copy-2 {
   width: 635px;
   height: 720px;
   position: absolute;
   left: 165px;
   top: 1410px;
   }
      
.rectangle-copy-4 {
   width: 445px;
   height: 313px;
   position: absolute;
   left: 830px;
   top: 1410px;
   }
      
.group-5 {
   width: 445px;
   height: 377px;
   position: static;
   }
      
.rectangle-copy-3 {
   background: var(--almost-black, #151515);
   width: 445px;
   height: 377px;
   position: absolute;
   left: 830px;
   top: 1753px;
   }
      
.group-42 {
   width: 350px;
   height: 248px;
   position: absolute;
   left: 878px;
   top: 1818px;
   overflow: hidden;
   }
      
.come-be-inspired {
   color: var(--white, #ffffff);
   text-align: left;
   font: var(--heading-m, 900 60px/60px 'Big Shoulders Display', sans-serif);
   text-transform: uppercase;
   position: absolute;
   left: 0px;
   top: calc(50% - 124px);
   width: 350px;
   }

.we-re-excited-to-wel {
   color: var(--white, #ffffff);
   text-align: left;
   font: var(--body-m, 300 22px/32px 'Outfit', sans-serif);
   position: absolute;
   left: 0px;
   top: calc(50% - -28px);
   width: 350px;
}


/* .mask3{
  position: absolute;
   inset: 0;
   background-color: #151515;
  }

.group-8 {
  width: 730px;
   height: 84px;
   position: absolute;
   left: 165px;
  top: 2390px;
   overflow: hidden;
  }

.t4 {
  color: var(--white, #ffffff);
   text-align: left;
   font: 300 18px/28px 'Outfit', sans-serif;
   position: absolute;
   left: 300px;
  top: calc(50% - 42px);
   width: 430px;
  }

.modernartgallery {
  position: absolute;
   left: 0px;
  top: 0px;
   overflow: visible;
  }

.social {
  position: absolute;
   left: 1175px;
  top: 2390px;
   overflow: visible;
  } */

